h1 span {
  font-weight: 700;
}

/* .img {
  width: 200px;
  height: 200px;
  background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2F474x%2F57%2Fef%2F7e%2F57ef7e86364950c9c564755f1acb997c.jpg&tbnid=r_yBQMnp5McCkM&vet=10CJkBEDMopgFqFwoTCNCljtmg3P8CFQAAAAAdAAAAABAD..i&imgrefurl=https%3A%2F%2Fwww.pinterest.es%2Fpin%2F816207132461382072%2F%3Famp_client_id%3DCLIENT_ID(_)%26mweb_unauth_id%3D%7B%7Bdefault.session%7D%7D%26amp_url%3Dhttps%253A%252F%252Fwww.pinterest.es%252Famp%252Fpin%252F816207132461382072%252F%26open_share%3Dt&docid=k_K2IXbTH-lN6M&w=360&h=360&q=pasteles%20de%20caricatura&ved=0CJkBEDMopgFqFwoTCNCljtmg3P8CFQAAAAAdAAAAABAD")
    #ccc;
  margin: 30px auto;
} */
